<% include ../partials/header %>

<div class='container-fluid'>
	<div class="jumbotron">
		<div class='container header'>
			<h1 class="display-4">Pullup Locations in Denver</h1>
			<p class="lead">You can improve this page by adding locations!</p>
			<a class="btn btn-primary btn-lg" href="/locations/new" role="button">Add a new Location</a>
		</div>
	</div>
	<div class='row'>
		<div class='col'>
			<% locations.forEach((location)=>{ %>
				<div class='row'>
					<div class='col-lg-6 col-md-12 col-sml-12'>
						<div class='indexImage'>
							<a href='/locations/<%=location._id%>'>
								<img class="img-fluid img-thumbnail" alt="Responsive image" src='<%=location.image%>'>
							</a>

						</div>					
					</div>				
					<div class='col-lg-6 col-md-12 col-sm-12'>
						 
						<h4><%=location.name%></h4>
						<p><%=location.desc%></p>
					</div>
				</div>
			<% }) %>
		</div>
		<div class='col googlemaps'>
			<div id="map"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
	let locations = <%- JSON.stringify(locations) %>;

	function initMap() {
		let map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: 39.7392, lng: -104.9903},
			zoom: 12
		});

		locations.forEach((location)=>{
			let marker = new google.maps.Marker({
				title: location.name,
				map: map,
				position: {
					lat: parseFloat(location.lat),
					lng: parseFloat(location.lng)
				}
			})

			marker.addListener('click', () => {
				window.location.replace('/locations/'+location._id)
			})

		})
	}	

</script>

<% include ../partials/footer %>