<% include ../partials/header %>

<div class='container-fluid'>
	<div class='row'>
		<div id='show-container' class='col-lg-6'>

			<img class='img-fluid img-thumbnail' src='<%=location.image%>'>
			<h4><%=location.name%></h4>
			<p><%=location.desc%></p>
			<p style='font-style:italic;'>Submitted By <%=location.author.username%></p>
			

			<% if(currentUser && location.author.id.equals(currentUser._id)){ %>
				<a class='btn btn-warning' href='/locations/<%=location._id%>/edit'>Edit</a>
				<form class='delete-form' action='/locations/<%=location._id%>?_method=DELETE' method='POST'>
					<button class="btn btn-danger">Delete</button>
				</form>
			<% } %>

		</div>
		<div class='col-lg-6 googlemaps'>
			<div id="map"></div>
		</div>

	</div>
</div>


<script type="text/javascript">
	let locate = <%- JSON.stringify(location) %>;

	function initMap() {
		let map = new google.maps.Map(document.getElementById('map'), {
			center: {
				lat: parseFloat(locate.lat), 
				lng: parseFloat(locate.lng)
			},
			zoom: 12
		});


		let marker = new google.maps.Marker({
			title: locate.name,
			map: map,
			position: {
				lat: parseFloat(locate.lat),
				lng: parseFloat(locate.lng)
			}
		})

	}	

</script>

<% include ../partials/footer %>
